td, th {
    border: 2px solid white !important;
    background: rgba(0, 0, 0, .05);
}

th, .th {
    background: rgba(0, 0, 0, .15);
}

td.selected{
    background: rgb(11, 172, 11);
}


td.booked{
    background: rgb(255, 37, 37);
}

.sticky{
   margin-left: 34%;
}
ul {
    list-style-type: none;
  }
  ol, ul {
    margin-left: -30px;
  }

 .table-fixed {
    width: 100%;
    background-color: #f3f3f3;
  }
  .table-fixed tbody {
    height: 200px;
    overflow-y: auto;
    width: 100%;
  }
  /* .table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
    display: block;
  }
  .table-fixed tbody td {
    float: left;
  }
  .table-fixed thead tr th {
    float: left;
    background-color: #f39c12;
    border-color: #e67e22;
  } */
  .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
      height:40px;
  }
  .table-fixed thead th, .table-fixed tbody td {
    width: 118px;
    display: inline-block;
}
.table-fixed tbody {
    height: 482px;
    overflow-y: auto;
    width: 100%;
    display: block;
}
  